.big-container--addMovement {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addMovement-box {
  display: flex;
  flex-direction: column;
}

.button-box {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.AddMovement-box--reset-status {
  height: 160px !important;
  padding-top: 10px;
}
