.MuiTablePagination-selectRoot,
.MuiTablePagination-selectIcon {
  display: none !important;
}

.big-container__table .MuiPaper-rounded {
  margin-top: 100px !important;
  width: 100%;
  max-width: 800px;
  min-width: 700px;
}
