.add-movements__form-box--radio {
  padding-top: 15px;
  padding-bottom: 15px;
}

.form-input-box {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
}

.form-input-box * {
  padding-right: 10px !important;
}

.add-movements__form-box--radio {
  display: flex;
  justify-content: space-around;
}
